{% extends 'base.html' %}
{% url 'detail_orden' as detail_orden %}

{% block contenido %}

<div class="row mb-4">
    <div class="col">
        <h1 class="display-4">Mis Productos</h1>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <span class="fw-bold">Todas los productos ({{ productos|length }})</span>
        <div class="dropdown">
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'list_orden' %}">Todos los productos</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
            </ul>
        </div>
    </div>

    {% if productos %}
    <div class="list-group list-group-flush">
        {% for producto in productos %}


        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

            <div>
                <a href="{% url 'detail_producto' producto.id %}" class="fw-bold text-decoration-none stretched-link">{{ producto.title }}</a>
            </div>
            <div>
                <a href="{% url 'detail_producto' producto.id %}" class="fw-bold text-decoration-none stretched-link">Presentación: {{ producto.presentation }}</a>
            </div>
            <div>
                <a href="{% url 'detail_producto' producto.id %}" class="fw-bold text-decoration-none stretched-link">Cantidad: {{ producto.quantity }}</a>
            </div>
        </div>
        <div class="task-actions">
            <a href="{% url 'update_producto' producto.id %}" class="btn btn-sm btn-outline-primary">
                <i class="bi bi-pencil">Editar</i>
            </a>
            <a href="{% url 'delete_producto' producto.id %}" class="btn btn-sm btn-outline-danger">
                <i class="bi bi-trash">Eliminar</i>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="card-body text-center py-5">
        <div class="text-muted mb-3">
            <i class="bi bi-clipboard-check" style="font-size: 3rem;"></i>
        </div>
        <h5>No Productos Creadors</h5>
        <p class="text-muted">Crea tu primer producto</p>
        <a href="{% url 'form_orden' %}" class="btn btn-primary">Crear nuevo producto</a>
    </div>
    {% endif %}
</div>

{% if productos %}
<div class="text-center mt-4">
    <a href="{% url 'form_producto' %}" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i> Agregar otro producto
    </a>
</div>
{% endif %}

{% endblock %}