{% url 'list_orden' as list_orden %}
{% url 'detail_orden' as detail_orden %}
{% url 'form_orden' as form_orden %}
{% url 'delete_orden' as delete_orden %}
{% url 'update_orden' as update_orden %}


<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="{% url 'index' %}" class="navbar-brand"> Bright Natural Star {{ request.path }} </a>
    <ul class="navbar-nav">
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ detail_orden }}">detail_orden</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ form_orden }}">form_orden</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ delete_orden }}">delete_orden</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ update_orden }}">update_orden</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!--

/*
  _                    , ,   _____  
 | |     : :          ()()  (  __ |              
 | |      _       __   | |   \ \ \|          
 | |   :/ _ \  :/ _ \| | | :  \ \        
 | |   | | | | | || | || ||\_\ \ \      
 | || || | | | | || | || ||______,)      
 |    / \ _ / , \_  | ||_|              
 | _ /         ___| |                      
              |     |  
  Desarrollado por Logi is  
*/

-->